<h1>Contacts#index</h1>
<p>Find me in app/views/contacts/index.html.erb</p>
<h1>ブログ一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
  </tr>

<% @contacts.each do |contact| %>

<tr>
  <td><%= contact.name %></td>
  <td><%= contact.Email %></td>
  <td><%= contact.content %></td>
</tr>

<% end %>
</table>
